<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="browse">
    <Breadcrumbs />
    <h1>Operations</h1>

    <SearchInput v-model="filter" @input="updateOperations" class="filter-input"/>

    <PaginationControls class="pagination"
                        :currentPage="this.pageTokenStack.length"
                        :haveNextPage="haveNextPage" :havePreviousPage="havePreviousPage"
                        @jumpToNext="loadNextOperationsPage"
                        @jumpToPrevious="loadPreviousOperationsPage"
                        @jumpToFirst="loadFirstPage"/>

    <div class="list" v-if="operations.length > 0">
      <OperationItem :operation="operation"
                     v-for="operation in operations"
                     :key="operation.name" />
    </div>
    <div v-else>
      <p>No operations matching the current filter found.</p>
    </div>

    <PaginationControls class="pagination"
                        :currentPage="this.pageTokenStack.length"
                        :haveNextPage="haveNextPage" :havePreviousPage="havePreviousPage"
                        @jumpToNext="loadNextOperationsPage"
                        @jumpToPrevious="loadPreviousOperationsPage"
                        @jumpToFirst="loadFirstPage"/>
  </div>
</template>

<script>
import operations from '@/apis/operations.js'

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import OperationItem from '@/components/OperationItem.vue'
import SearchInput from '@/components/SearchInput.vue'
import PaginationControls from '@/components/PaginationControls.vue'

export default {
  name: 'Browse',
  components: {
    Breadcrumbs,
    OperationItem,
    PaginationControls,
    SearchInput
  },
  data () {
    return {
      filter: '',
      results: {
        operations: []
      },
      pageSize: 30,
      // Operations responses only have a `next_page_token`. This keeps seen
      // tokens to allow navigating back:
      pageTokenStack: ['']
    }
  },
  created () {
    this.filter = this.$route.query.filter || 'stage != completed & sort_order = queued_time(desc)'
    this.listOperations()
  },
  computed: {
    operations () {
      return this.results.operations
    },
    currentPageToken () {
      return this.pageTokenStack[this.pageTokenStack.length - 1]
    },
    nextPageToken () {
      return this.results?.nextPageToken
    },
    haveNextPage () {
      return this.nextPageToken !== ''
    },
    havePreviousPage () {
      return this.pageTokenStack.length > 1
    }
  },
  methods: {
    async updateOperations () {
      this.pageTokenStack = ['']
      this.listOperations()
    },
    async listOperations () {
      this.results = await operations.list(this.filter, this.pageSize, this.currentPageToken)

      this.$router.push({
        query: {
          filter: this.filter
        }
      })
    },
    async loadNextOperationsPage () {
      if (this.haveNextPage) {
        this.pageTokenStack.push(this.nextPageToken)
        await this.listOperations()
        this.scrollToTop()
      }
    },
    async loadPreviousOperationsPage () {
      if (this.havePreviousPage) {
        this.pageTokenStack.pop()
        await this.listOperations()
        this.scrollToTop()
      }
    },
    async loadFirstPage () {
      if (this.havePreviousPage) {
        this.pageTokenStack = this.pageTokenStack.slice(0, 1)
        await this.listOperations()
        this.scrollToTop()
      }
    },
    scrollToTop () {
      window.scroll(0, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.browse {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-title);
    margin-top: 0;
  }

  .filter-input {
    margin-bottom: 1em;
  }

  .list {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  .pagination {
    padding: 0.5em;
  }
}
</style>
