<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="correlated-invocations">
    <Breadcrumbs :crumbs="breadcrumbs" />

    <h1>{{ correlationId }}</h1>

    <ul class="tabs">
      <li class="tab" :class="{ active: currentTab.name === tab.name }" v-for="tab in tabs" :key="tab.name" @click="switchToTab(tab)">
        {{ tab.name }}
      </li>
    </ul>

    <component :is="currentTab.component" :correlationId="correlationId"></component>
  </div>
</template>

<script>
import { markRaw } from 'vue'

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import CorrelatedInvocationsTabOperationsList from '@/components/CorrelatedInvocationsTabOperationsList.vue'
import CorrelatedInvocationsTabBuildEvents from '@/components/CorrelatedInvocationsTabBuildEvents.vue'

export default {
  name: 'CorrelatedInvocationsDetails',
  components: {
    Breadcrumbs
  },
  computed: {
    correlationId () {
      return this.$route.params.correlationId
    }
  },
  data () {
    return {
      breadcrumbs: [
        {
          title: 'BuildGrid',
          target: '/'
        },
        {
          title: 'Correlated Invocations'
        }
      ],
      currentTab: 'Operations',
      tabs: [
        {
          name: 'Operations',
          component: markRaw(CorrelatedInvocationsTabOperationsList)
        },
        {
          name: 'Build Events',
          component: markRaw(CorrelatedInvocationsTabBuildEvents)
        }
      ]
    }
  },
  created () {
    this.currentTab = this.tabs[0]
  },
  methods: {
    switchToTab (tab) {
      this.currentTab = tab
    }
  }
}
</script>

<style lang="scss" scoped>
.correlated-invocations {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-title);
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }

  .tabs {
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;
    margin-bottom: 3rem;

    .tab {
      flex: 0 1 auto;
      padding: 1rem;
      margin: 0 0.5rem 0 0;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 100ms ease-in-out all;

      &:hover {
        box-shadow: 0 -2px 0 inset var(--color-link);
      }

      &.active {
        color: var(--color-link);
        box-shadow: 0 -4px 0 inset var(--color-link);
      }
    }
  }

  border-collapse: collapse;
}
</style>
