<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="file">
    <Breadcrumbs :crumbs="breadcrumbs" />
    <h1>File</h1>

    <span v-if="fileFetchFailed">
      Could not fetch blob with digest <span class="digest">{{ fileHash }}/{{ fileSizeBytes }}</span>.
    </span>
    <span v-else>
      <div class="download-links">
        <a v-if="downloadUrl" :href="downloadUrl" title="Download file">
          <DownloadIcon />
        </a>
        <a v-if="fileIsDisplayable" :href="`${downloadUrl}?raw=1`" title="View raw">
          <DocumentTextIcon />
        </a>
      </div>
      <div v-if="fileIsDisplayable" class="log">
        <span v-if="fetchingFile">Loading...</span>
        <highlightjs autodetect :code="content" />
      </div>
      <div v-else>
        File is too large to display ({{ fileSizeMegaBytes }} MB).
      </div>
    </span>

  </div>
</template>

<script>
import { DocumentTextIcon, DownloadIcon } from '@heroicons/vue/outline'

import base from '@/apis/base.js'
import bytestream from '@/apis/bytestream.js'

import Breadcrumbs from '@/components/Breadcrumbs.vue'

import 'highlight.js/styles/vs2015.css'

// Upper limit on the size of the content that can be rendered.
const MAX_FILE_SIZE_BYTES = 1024 * 1024

const config = base.getConfig()
const BLOBS_URL = `${config.backendUrl}/api/v1/blobs`

export default {
  name: 'File',
  components: {
    Breadcrumbs,
    DocumentTextIcon,
    DownloadIcon
  },
  data () {
    return {
      breadcrumbs: [
        {
          title: 'BuildGrid',
          target: '/'
        },
        {
          title: 'CAS'
        }
      ],
      content: '',
      fileFetchFailed: false,
      fetchingFile: false,
      fileHash: undefined,
      fileSizeBytes: undefined
    }
  },
  created () {
    this.fileHash = this.$route.params.hash
    this.fileSizeBytes = this.$route.params.sizeBytes

    this.getFile(this.fileHash, this.fileSizeBytes)
  },
  beforeRouteUpdate (to, from, next) {
    this.fileHash = to.params.hash
    this.fileSizeBytes = to.params.sizeBytes

    this.getFile(this.fileHash, this.fileSizeBytes)
    next()
  },
  computed: {
    fileIsDisplayable () {
      return this.fileSizeBytes <= MAX_FILE_SIZE_BYTES
    },
    downloadUrl () {
      if (this.fileHash && this.fileSizeBytes) {
        return `${BLOBS_URL}/${this.fileHash}/${this.fileSizeBytes}`
      }
      return undefined
    },
    fileSizeMegaBytes () {
      const megaBytes = this.fileSizeBytes / (1024 * 1024)
      return megaBytes.toFixed(2)
    }
  },
  methods: {
    async getFile (hash, sizeBytes) {
      this.fileFetchFailed = false
      if (this.fileIsDisplayable) {
        this.fetchingFile = true
        try {
          this.content = await bytestream.readBlob(hash, sizeBytes, 'text')
        } catch (error_) {
          this.fileFetchFailed = true
        }
        this.fetchingFile = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.file {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-title);
    margin-top: 0;
  }

  .log {
    font-family: 'Roboto Mono';
    background-color: var(--color-code-bg);  // needs to match color in highlight.js/styles/vs2015.css
    padding: 30px;
    border-radius: 10px;
    color: var(--color-white);
    font-size: 1.1rem;
    box-shadow: 0 -0.2rem .4rem rgba(0,0,0,.1) inset;

    pre {
      margin: 0;
      overflow-x: auto;
    }
  }

  .download-links {
    a {
      color: var(--color-link);
    }

    svg {
      width: 32px;
      height: 32px;
      padding: 5px;
    }
  }

  .digest {
    font-family: monospace;
  }
}
</style>
