<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="directory">
    <Breadcrumbs :crumbs="breadcrumbs" />

    <h1>Tree</h1>
    <DirectoryListing :directories="tree.root.directoriesList"
                      :symlinks="tree.root.symlinksList"
                      :files="tree.root.filesList" />
  </div>
</template>

<script>
import bytestream from '@/apis/bytestream.js'

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import DirectoryListing from '@/components/DirectoryListing.vue'

export default {
  name: 'Directory',
  components: {
    Breadcrumbs,
    DirectoryListing
  },
  data () {
    return {
      breadcrumbs: [
        {
          title: 'BuildGrid',
          target: '/'
        },
        {
          title: 'CAS'
        }
      ],
      tree: {}
    }
  },
  created () {
    this.getTree(this.$route.params.hash, this.$route.params.sizeBytes)
  },
  beforeRouteUpdate (to, from, next) {
    this.getTree(to.params.hash, to.params.sizeBytes)
    next()
  },
  methods: {
    async getTree (hash, sizeBytes) {
      this.tree = await bytestream.readTree(hash, sizeBytes)
    }
  }
}
</script>

<style lang="scss" scoped>
.directory {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-title);
    margin-top: 0;
  }
}
</style>
