<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="worker-invocations">
    <Breadcrumbs :crumbs="breadcrumbs" />

    <h1>{{ workerName }}</h1>
    <p>Jobs executed by <span class="worker-name">{{ workerName }}</span> out of the last 1000 operations.</p>
    <span v-if="results">
      <OperationsList :operations="results" :showCounters="false" />
    </span>
    <span v-else>
      No operations found
    </span>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import OperationsList from '@/components/OperationList.vue'

import operations from '@/apis/operations.js'

export default {
  name: 'InvocationsByWorkerName',
  components: {
    Breadcrumbs,
    OperationsList
  },
  data () {
    return {
      breadcrumbs: [
        {
          title: 'BuildGrid',
          target: '/'
        },
        {
          title: 'Worker Invocations'
        }
      ],
      results: []
    }
  },
  computed: {
    workerName () {
      return this.$route.params.workerName
    }
  },
  created () {
    this.fetchOperationsAndFilterByWorker()
  },
  methods: {
    async fetchOperationsAndFilterByWorker () {
      const queryFilter = 'stage = Completed & sort_order = completed_time(desc)'
      const queryResults = await operations.list(queryFilter)
      this.results = queryResults.operations.filter((result) => {
        return (result.response?.result?.executionMetadata?.worker === this.workerName)
      })
    }
  }

}
</script>

<style lang="scss" scoped>
.worker-invocations {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-title);
    margin-top: 0;
  }

  border-collapse: collapse;

  .worker-name {
    font-family: monospace;
  }
}
</style>
