<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="bazel-event">
    <BazelEventBuildFinished v-if="eventType == eventTypes.FINISHED" :event="eventObject.finished" />
    <BazelEventBuildMetadata v-else-if="eventType == eventTypes.BUILD_METADATA" :event="eventObject.buildMetadata" />
    <BazelEventBuildMetrics v-else-if="eventType == eventTypes.BUILD_METRICS" :event="eventObject.buildMetrics" :id="eventObject.id" />
    <BazelEventBuildToolLogs v-else-if="eventType == eventTypes.BUILD_TOOL_LOGS" :event="eventObject.buildToolLogs" />
    <BazelEventConfiguration v-else-if="eventType == eventTypes.CONFIGURATION" :event="eventObject.configuration" :id="eventObject.id" />
    <BazelEventExpanded v-else-if="eventType == eventTypes.EXPANDED" :event="eventObject.expanded" :id="eventObject.id" />
    <BazelEventNamedSetOfFiles v-else-if="eventType == eventTypes.NAMED_SET_OF_FILES" :event="eventObject.namedSetOfFiles" :id="eventObject.id" />
    <BazelEventOptionsParsed v-else-if="eventType == eventTypes.OPTIONS_PARSED" :event="eventObject.optionsParsed" />
    <BazelEventProgress v-else-if="eventType == eventTypes.PROGRESS" :event="eventObject.progress" />
    <BazelEventStarted v-else-if="eventType == eventTypes.STARTED" :event="eventObject.started" />
    <BazelEventStructuredCommandLine v-else-if="eventType == eventTypes.STRUCTURED_COMMAND_LINE" :event="eventObject.structuredCommandLine" />
    <BazelEventTargetCompleted v-else-if="eventType == eventTypes.COMPLETED" :event="eventObject.completed" :id="eventObject.id" />
    <BazelEventTargetConfigured v-else-if="eventType == eventTypes.CONFIGURED" :event="eventObject.configured" :id="eventObject.id" />
    <BazelEventUnstructuredCommandLine v-else-if="eventType == eventTypes.UNSTRUCTURED_COMMAND_LINE" :event="eventObject.unstructuredCommandLine" />
    <BazelEventWorkspace v-else-if="eventType == eventTypes.WORKSPACE_INFO" :event="eventObject.workspaceInfo" />
    <BazelEventWorkspaceStatus v-else-if="eventType == eventTypes.WORKSPACE_STATUS" :event="eventObject.workspaceStatus"/>
    <div v-else>{{ eventObject }}</div>
  </div>
</template>

<script>
import {
  BuildEvent
} from '@/protos/build_event_stream/build_event_stream_pb.js'

import BazelEventBuildFinished from '@/components/BazelEvents/BazelEventBuildFinished.vue'
import BazelEventBuildMetadata from '@/components/BazelEvents/BazelEventBuildMetadata.vue'
import BazelEventBuildMetrics from '@/components/BazelEvents/BazelEventBuildMetrics.vue'
import BazelEventBuildToolLogs from '@/components/BazelEvents/BazelEventBuildToolLogs.vue'
import BazelEventTargetConfigured from '@/components/BazelEvents/BazelEventTargetConfigured.vue'
import BazelEventExpanded from '@/components/BazelEvents/BazelEventExpanded.vue'
import BazelEventNamedSetOfFiles from '@/components/BazelEvents/BazelEventNamedSetOfFiles.vue'
import BazelEventOptionsParsed from '@/components/BazelEvents/BazelEventOptionsParsed.vue'
import BazelEventProgress from '@/components/BazelEvents/BazelEventProgress.vue'
import BazelEventStarted from '@/components/BazelEvents/BazelEventStarted.vue'
import BazelEventStructuredCommandLine from '@/components/BazelEvents/BazelEventStructuredCommandLine.vue'
import BazelEventTargetCompleted from '@/components/BazelEvents/BazelEventTargetCompleted.vue'
import BazelEventConfiguration from '@/components/BazelEvents/BazelEventConfiguration.vue'
import BazelEventUnstructuredCommandLine from '@/components/BazelEvents/BazelEventUnstructuredCommandLine.vue'
import BazelEventWorkspace from '@/components/BazelEvents/BazelEventWorkspace.vue'
import BazelEventWorkspaceStatus from '@/components/BazelEvents/BazelEventWorkspaceStatus.vue'

export default {
  name: 'BazelEvent',
  components: {
    BazelEventBuildFinished,
    BazelEventBuildMetadata,
    BazelEventBuildMetrics,
    BazelEventBuildToolLogs,
    BazelEventConfiguration,
    BazelEventExpanded,
    BazelEventNamedSetOfFiles,
    BazelEventOptionsParsed,
    BazelEventProgress,
    BazelEventStarted,
    BazelEventStructuredCommandLine,
    BazelEventTargetCompleted,
    BazelEventTargetConfigured,
    BazelEventUnstructuredCommandLine,
    BazelEventWorkspace,
    BazelEventWorkspaceStatus
  },
  props: {
    packedEvent: {
      type: Object,
      default: () => null
    }
  },
  computed: {
    event () {
      return this.packedEvent.unpack(
        BuildEvent.deserializeBinary, 'build_event_stream.BuildEvent')
    },
    eventObject () {
      return this.event.toObject()
    },
    eventType () {
      return this.event.getPayloadCase()
    },
    eventTypes () {
      return BuildEvent.PayloadCase
    }
  }
}
</script>

<style lang="scss" scoped>
.bazel-event {
  :deep(.build-event-details) {
    .build-event-title {
      font-size: 1.2rem;
    }

    .row {
      margin: 1rem 0;
    }

    p {
      margin: 0;
    }

    .code,
    .inline-code {
      font-family: 'Roboto Mono';
      padding: 1.25rem;
      border-radius: 1rem;
      background-color: var(--color-code-bg);
      color: var(--color-code-text);
      font-size: 1rem;

      pre {
        overflow-x: auto;
        padding: 0;
        margin: 0;
      }
    }

    .inline-code {
      padding: 0.25rem 1rem;
      display: inline-block;
    }

    .flex {
      display: flex;
      align-items: baseline;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0.1rem 0;
        font-family: 'Roboto Mono';
        font-size: 1rem;
        margin: 0;
      }
    }

    .muted {
      font-size: 1rem;
      color: var(--color-text-muted);
    }

    a.display-toggle {
      @extend .muted;
      cursor: pointer;
      margin-left: 2rem;

      &:hover {
        color: var(--color-link);
        box-shadow: 0 -2px 0 var(--color-link) inset;
      }
    }
  }
}
</style>
