<template>
  <nav class="breadcrumbs">
    <span v-for="crumb in crumbs" :key="crumb.target">
      <router-link :to="crumb.target" v-if="crumb.target">{{ crumb.title }}</router-link>
      <span v-else>{{ crumb.title }}</span>
      <ChevronRightIcon />
    </span>
  </nav>
</template>

<script>
import { ChevronRightIcon } from '@heroicons/vue/solid'

export default {
  name: 'Breadcrumbs',
  components: {
    ChevronRightIcon
  },
  props: {
    crumbs: {
      type: Array,
      default: () => [
        {
          title: 'BuildGrid',
          target: '/'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0 0 6px 0;
    color: var(--color-breadcrumbs);

    span {
      display: flex;
      align-items: center;
    }

    a {
      color: var(--color-breadcrumbs);
      text-decoration: none;

      &:hover {
        color: var(--color-link);
        box-shadow: 0 -2px 0 var(--color-link) inset;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
</style>
