<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event">
    <p class="build-event-timestamp">{{ formatTimestamp(timestamp) }}</p>

    <div class="build-event-details" v-if="eventType == eventTypes.BAZEL_EVENT">
      <BazelEvent :packed-event="event.getEvent().getBazelEvent()" />
    </div>

    <div class="build-event-details" v-else-if="eventType == eventTypes.BUILD_ENQUEUED">
      <div class="build-event-title">Build enqueued</div>
    </div>

    <div class="build-event-details" v-else-if="eventType == eventTypes.INVOCATION_ATTEMPT_STARTED">
      <div class="build-event-title">Invocation attempt started, attempts: {{ eventObject.invocationAttemptStarted.attemptNumber }}</div>
    </div>

    <div class="build-event-details" v-else-if="eventType == eventTypes.COMPONENT_STREAM_FINISHED">
      <div class="build-event-title">Component event stream finished</div>
    </div>

    <div class="build-event-details" v-else-if="eventType == eventTypes.INVOCATION_ATTEMPT_FINISHED">
      <div class="build-event-title">Invocation attempt finished {{ eventObject.invocationAttemptFinished.invocationStatus }}</div>
    </div>

    <div class="build-event-details" v-else-if="eventType == eventTypes.BUILD_FINISHED">
      <div class="build-event-title">Build finished, {{ eventObject.buildFinished.status }}</div>
    </div>

  </div>
</template>

<script>
import {
  BuildEvent
} from '@/protos/google/devtools/build/v1/build_events_pb.js'

import BazelEvent from '@/components/BazelEvent.vue'

export default {
  name: 'BuildEvent',
  components: {
    BazelEvent
  },
  props: {
    event: {
      type: Object,
      default: () => null
    }
  },
  computed: {
    eventObject () {
      return this.event.getEvent().toObject()
    },
    eventType () {
      return this.event.getEvent().getEventCase()
    },
    eventTypes () {
      return BuildEvent.EventCase
    },
    timestamp () {
      let ms = 0
      if (this.eventObject.eventTime) {
        ms = this.eventObject.eventTime.seconds * 1000
        ms += this.eventObject.eventTime.nanos * 0.000001
      }
      return new Date(ms)
    }
  },
  methods: {
    formatTimestamp (datetime) {
      const date = datetime.toDateString()
      const hours = datetime.getUTCHours()
      const minutes = datetime.getUTCMinutes()
      const seconds = datetime.getUTCSeconds()
      const millis = `${datetime.getUTCMilliseconds()}`.padStart(3, '0')
      return `${date} ${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}.${millis} UTC`
    }
  }
}
</script>

<style lang="scss" scoped>

.build-event {
  margin: 2rem 0;

  .build-event-timestamp {
    margin: 0;
    color: var(--color-text-muted);
  }

  .build-event-title {
    margin: 0;
    font-size: 1.2rem;
  }
}

</style>
