<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="client-request-metadata">
    <div class="card flex-col" v-if="toolName || toolVersion">
      <h2>Client Tool</h2>
      <dl>
        <span v-if="toolName">
          <dt>Tool Name</dt>
          <dd>{{ toolName }}</dd>
        </span>
        <span v-if="toolVersion">
          <dt>Tool Version</dt>
          <dd>{{ toolVersion }}</dd>
        </span>
      </dl>
    </div>
    <div class="card flex-col" v-if="toolInvocationId || correlatedInvocationsId">
      <h2>Related Invocations</h2>
      <dl>
        <span v-if="toolInvocationId">
          <dt>Tool Invocation ID</dt>
          <dd>
            <router-link class="value" :to="toolInvocationsRoute">
              {{ toolInvocationId }}
            </router-link>
          </dd>
        </span>
        <span v-if="correlatedInvocationsId">
          <dt>Correlated Invocations ID</dt>
          <dd>
            <router-link class="value" :to="correlatedInvocationsRoute">
              {{ correlatedInvocationsId }}
            </router-link>
          </dd>
        </span>
      </dl>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ClientRequestMetadata',
  props: ['requestMetadata'],
  computed: {
    toolName () {
      return this.requestMetadata.toolDetails.toolName
    },
    toolVersion () {
      return this.requestMetadata.toolDetails.toolVersion
    },
    toolInvocationId () {
      return this.requestMetadata.toolInvocationId
    },
    correlatedInvocationsId () {
      return this.requestMetadata.correlatedInvocationsId
    },
    correlatedInvocationsRoute () {
      return {
        name: 'Correlated Invocations Summary',
        params: { correlationId: this.correlatedInvocationsId }
      }
    },
    toolInvocationsRoute () {
      return {
        name: 'Tool Invocations Summary',
        params: { toolInvocationId: this.toolInvocationId }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.client-request-metadata {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .flex-col {
    flex: 1 0 0;
  }
}

a {
  text-decoration: none;
  transition: 100ms ease-in-out all;
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
    box-shadow: 0 -1px 0 var(--color-link-hover) inset;
  }
}

.card {
  background-color: var(--color-bg-top);
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);

  h2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
  }

  dl {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    dt, dl {
      padding: 10px 10px 0 10px;
    }
  }

  .muted {
    color: var(--color-text-muted);
  }
}
</style>
