<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="command-metadata">
    <div class="card flex-col">
      <h2>Environment Variables</h2>
      <span class="muted" v-if="!hasEnvironmentVariables">
        No environment variables in command.
      </span>
      <ul v-if="hasEnvironmentVariables">
        <li v-for="envvar in command.environmentVariablesList" :key="envvar.name"
            class="key-val-list">
          <span class="name">{{ envvar.name }}</span>
          <span class="value">{{ envvar.value }}</span>
        </li>
      </ul>
    </div>
    <div class="card flex-col">
      <h2>Platform Properties</h2>
      <span class="muted" v-if="!platformProperties.length">
        No platform properties specified.
      </span>
      <ul v-if="platformProperties.length">
        <li v-for="prop in platformProperties" :key="prop.name"
            class="key-val-list">
          <span class="name">{{ prop.name }}</span>
          <span class="value">{{ prop.value }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CommandMetadata',
  props: ['command'],
  computed: {
    hasEnvironmentVariables () {
      if (this.command && this.command.environmentVariablesList) {
        return this.command.environmentVariablesList.length > 0
      }
      return false
    },
    platformProperties () {
      let properties = []
      if (this.command && this.command.platform) {
        properties = this.command.platform.propertiesList
      }
      return properties
    }
  }
}
</script>

<style lang="scss" scoped>
.command-metadata {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .flex-col {
    flex: 1 0 0;
  }
}

.card {
  background-color: var(--color-bg-top);
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);

  h2 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    .key-val-list {
      .name, .value {
        padding: 10px 10px 0 10px;
      }

      .name {
        font-weight: 500;
      }
    }
  }

  .muted {
    color: var(--color-text-muted);
  }
}
</style>
