<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div>
    <div v-if="eventStreams.length > 0">
      <div class="build-event-stream" v-for="stream in eventStreams" :key="stream.getStreamId()">
        <h2>{{ renderStreamId(stream) }}</h2>
        <div class="stream-events">
          <BuildEvent v-for="event in stream.getEventsList()" :key="event.eventTime" :event="event" />
        </div>
      </div>
    </div>
    <p class="empty" v-else>No build events found for this Correlated Invocation ID</p>
  </div>
</template>

<script>
import buildEvents from '@/apis/buildEvents.js'
import {
  StreamId
} from '@/protos/google/devtools/build/v1/build_events_pb.js'

import BuildEvent from '@/components/BuildEvent.vue'

export default {
  name: 'CorrelatedInvocationsTabBuildEvents',
  components: {
    BuildEvent
  },
  props: {
    correlationId: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      eventStreams: []
    }
  },
  created () {
    this.fetchBuildEvents()
  },
  methods: {
    async fetchBuildEvents () {
      const response = await buildEvents.listStreams(`${this.correlationId}\\..*\\..*`)
      this.eventStreams = response.getStreamsList()
    },
    renderStreamId (stream) {
      const invocationId = stream.getStreamId().getInvocationId()
      const component = stream.getStreamId().getComponent()

      let componentName = 'Unknown Component'
      if (component === StreamId.BuildComponent.CONTROLLER) {
        componentName = 'Controller'
      } else if (component === StreamId.BuildComponent.WORKER) {
        componentName = 'Worker'
      } else if (component === StreamId.BuildComponent.TOOL) {
        componentName = 'Tool'
      }
      if (invocationId) {
        return `${componentName} stream for invocation ${invocationId}`
      } else {
        return `${componentName} stream for correlated invocations`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.empty {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--color-text-muted);
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.build-event-stream {
  padding: 0.75rem 0;

  &:first-child {
    padding-top: 0;
  }

  h2 {
    font-weight: 300;
  }

  .stream-events {
    position: relative;
    padding-left: 5rem;

    &::before {
      content: "";
      width: 0.25rem;
      top: 1.25rem;
      bottom: 1.25rem;
      left: 1.75rem;
      position: absolute;
      background: var(--color-timeline-line);
    }

    .build-event {
      padding: 1rem 0 0 0;
      position: relative;

      &::before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        background: var(--color-timeline-entry);
        border-radius: 1.25rem;
        left: -70px;
        top: 1rem;
        position: absolute;
      }
    }
  }
}
</style>
