<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <table class="directory-listing">
    <tr>
      <th>Mode</th>
      <th>Size (bytes)</th>
      <th class="filename">Name</th>
    </tr>

    <tr v-for="dir in directories" :key="dir.digest || dir.treeDigest">
      <td class="mode">drwxr-xr-x</td>
      <td v-if="dir.digest">{{ dir.digest.sizeBytes }}</td>
      <td v-if="dir.treeDigest">{{ dir.treeDigest.sizeBytes }}</td>
      <td class="filename">
        <router-link :to="directoryTarget(dir)">{{ dir.name || dir.path }}</router-link>/
      </td>
    </tr>

    <tr v-for="symlink in symlinks" :key="symlink">
      <td class="mode">lrwxrwxrwx</td>
      <td></td>
      <td class="filename">{{ symlink.name }} -&gt; {{ symlink.target }}</td>
    </tr>

    <tr v-for="file in files" :key="file.digest.hash">
      <td class="mode">-rw{{ file.isExecutable ? 'x' : '-' }}r-{{ file.isExecutable ? 'x' : '-' }}r-{{ file.isExecutable ? 'x' : '-' }}</td>
      <td>{{ file.digest.sizeBytes }}</td>
      <td class="filename">
        <router-link :to="'/file/' + file.digest.hash + '/' + file.digest.sizeBytes">{{ file.name || file.path }}</router-link>
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'DirectoryListing',
  props: {
    directories: {
      type: Array,
      default: () => []
    },
    directoryRouteBase: {
      type: String,
      default: 'directory'
    },
    files: {
      type: Array,
      default: () => []
    },
    symlinks: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    directoryTarget (dir) {
      const digest = dir.digest || dir.treeDigest
      return `/${this.directoryRouteBase}/${digest.hash}/${digest.sizeBytes}`
    }
  }
}
</script>

<style lang="scss" scoped>
.directory-listing {
  border-collapse: collapse;

  td, th {
    padding: 15px;
    min-width: 150px;
    text-align: left;
  }

  .mode {
    font-family: 'Roboto Mono';
  }

  .filename {
    width: 100%;
  }

  tr:nth-of-type(even) {
    background-color: var(--color-grey-light);
  }

  a {
    text-decoration: none;
    transition: 100ms ease-in-out all;
    color: var(--color-link);

    &:hover {
      color: var(--color-link-hover);
      box-shadow: 0 -1px 0 var(--color-link-hover) inset;
    }
  }
}
</style>
