<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="execution-statistics" v-if="stats">
    <div class="card flex-col">
      <h1>
        Process usage
        <InformationCircleIcon title="Values returned by `getrusage(2)1" />
      </h1>
      <div class="grid">
        <div>
          <h2>Time</h2>
          <dl>
            <dt>User</dt>
            <dd>{{ durationString(stats.commandRusage.utime) }} s</dd>

            <dt>System</dt>
            <dd>{{ durationString(stats.commandRusage.stime) }} s</dd>
          </dl>
        </div>

        <div>
          <h2>Memory</h2>
          <dl>
            <dt>Max. resident set size</dt>
            <dd>{{ stats.commandRusage.maxrss }} kB</dd>
            <dt>Page reclaims</dt>
            <dd>{{ stats.commandRusage.minflt }}</dd>
            <dt>Page faults (I/O)</dt>
            <dd>{{ stats.commandRusage.majflt }}</dd>
          </dl>
        </div>

       <div>
          <h2>FS blocking-operations</h2>
          <dl>
            <dt>Input</dt>
            <dd>{{ stats.commandRusage.inblock }} </dd>
            <dt>Output</dt>
            <dd>{{ stats.commandRusage.oublock }} </dd>
          </dl>
        </div>

         <div>
          <h2>Context switches</h2>
          <dl>
            <dt>Voluntary</dt>
            <dd>{{ stats.commandRusage.nvcsw }} </dd>
            <dt>Involuntary</dt>
            <dd>{{ stats.commandRusage.nivcsw }} </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { InformationCircleIcon } from '@heroicons/vue/outline'

import bytestream from '@/apis/bytestream.js'

import {
  Digest
} from '@/protos/build/bazel/remote/execution/v2/remote_execution_pb.js'

import {
  ExecutionStatistics
} from '@/protos/build/buildbox/execution_stats_pb.js'

export default {
  name: 'ExecutionStats',
  components: {
    InformationCircleIcon
  },
  props: ['auxiliaryMetadataList'],
  data () {
    return {
      stats: null
    }
  },
  created () {
    this.fetchStats()
  },
  methods: {
    async fetchStats () {
      const DIGEST_TYPE_URL = 'type.googleapis.com/build.bazel.remote.execution.v2.Digest'
      const EXECUTION_STATS_TYPE_URL = 'type.googleapis.com/build.buildbox.ExecutionStatistics'

      for (const entry of this.auxiliaryMetadataList) {
        if (entry.typeUrl === DIGEST_TYPE_URL) {
          const digest = Digest.deserializeBinary(entry.value)
          if (digest) {
            const digestObject = digest.toObject()

            const anyWrapper = await bytestream.readAny(digestObject.hash, digestObject.sizeBytes)

            if (anyWrapper?.typeUrl === EXECUTION_STATS_TYPE_URL) {
              const statsProto = ExecutionStatistics.deserializeBinary(anyWrapper.value)
              this.stats = statsProto.toObject()
              return
            }
          }
        }
      }
    },
    durationString (duration) {
      const secs = duration.seconds + duration.nanos * 10E-9
      return secs.toFixed(3)
    }
  }
}
</script>

<style lang="scss" scoped>
.execution-statistics {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .flex-col {
    flex: 1 0 0;
  }
}

.card {
  background-color: var(--color-bg-top);
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);

  h1 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0;
  }

  h2 {
    font-size: 1.0rem;
  }

  .command-name {
    font-family: monospace;
  }

  .help-icon {
    width: 1em;
    height: 1em;
    color: var(--color-icon-grey);
    vertical-align: bottom;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    dt {
      color: var(--color-grey-dark);
      font-size: 95%;
    }

    dd {
      margin-bottom: 1rem;
      font-size: 105%;
    }
  }
}
</style>
