<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div>
    <OperationList :operations="results.operations" v-if="results.operations.length > 0" />
    <p class="empty" v-else>{{ emptyText }}</p>
  </div>
</template>

<script>

import OperationList from '@/components/OperationList.vue'

import operations from '@/apis/operations.js'

export default {
  name: 'FilteredOperationsList',
  components: {
    OperationList
  },
  data () {
    return {
      results: {
        operations: []
      }
    }
  },
  props: {
    emptyText: {
      type: String,
      default: 'No operations found'
    },
    filter: {
      type: String,
      default: ''
    }
  },
  created () {
    this.fetchOperations()
  },
  methods: {
    async fetchOperations () {
      this.results = await operations.list(this.filter)
    }
  }
}
</script>

<style lang="scss" scoped>
.filtered-operations {
  border-collapse: collapse;
}

.empty {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--color-text-muted);
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
