<!--
  Copyright 2021 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div v-if="result && result.executionMetadata">
    <div class="timeline">
      <div class="timeline-entry">
        <div class="timeline-entry-content">
          <p class="details">
            Action added to queue
          </p>
          <p class="timestamp">
            {{ formatTimestamp(queuedTimestamp) }}
          </p>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-entry-content">
          <p class="details">
            Assigned to worker
            <router-link class="worker-name" :to="workerRoute">
              {{ workerName }}
            </router-link>
          </p>
          <p class="timestamp">
            {{ formatTimestamp(workerStartedTimestamp) }}
          </p>
        </div>
        <div class="timeline-entry-difference">
          +
          <span class="text-lg">
            {{ timestampDiff(queuedTimestamp, workerStartedTimestamp) }}
          </span>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-entry-content">
          <p class="details">
            Started fetching inputs
          </p>
          <p class="timestamp">
            {{ formatTimestamp(inputFetchStartedTimestamp) }}
          </p>
        </div>
        <div class="timeline-entry-difference">
          +
          <span class="text-lg">
            {{ timestampDiff(queuedTimestamp, inputFetchStartedTimestamp)}}
          </span>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-entry-content">
          <p class="details">
            Completed fetching inputs
          </p>
          <p class="timestamp">
            {{ formatTimestamp(inputFetchCompletedTimestamp) }}
          </p>
        </div>
        <div class="timeline-entry-difference">
          +
          <span class="text-lg">
            {{ timestampDiff(queuedTimestamp, inputFetchCompletedTimestamp)}}
          </span>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-entry-content">
          <p class="details">
            Started execution
          </p>
          <p class="timestamp">
            {{ formatTimestamp(executionStartedTimestamp) }}
          </p>
        </div>
        <div class="timeline-entry-difference">
          +
          <span class="text-lg">
            {{ timestampDiff(queuedTimestamp, executionStartedTimestamp)}}
          </span>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-entry-content">
          <p class="details">
            Completed execution
          </p>
          <p class="timestamp">
            {{ formatTimestamp(executionCompletedTimestamp) }}
          </p>
        </div>
        <div class="timeline-entry-difference">
          +
          <span class="text-lg">
            {{ timestampDiff(queuedTimestamp, executionCompletedTimestamp)}}
          </span>
        </div>
      </div>
      <div class="timeline-entry">
        <div class="timeline-entry-content">
          <p class="details">
            Worker reported completion
          </p>
          <p class="timestamp">
            {{ formatTimestamp(workerCompletedTimestamp) }}
          </p>
        </div>
        <div class="timeline-entry-difference">
          +
          <span class="text-lg">
            {{ timestampDiff(queuedTimestamp, workerCompletedTimestamp)}}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResultTimeline',
  props: {
    result: {
      type: Object,
      default: () => null
    }
  },
  computed: {
    queuedTimestamp () {
      let ms = 0
      if (this.result && this.result.executionMetadata) {
        ms = this.result.executionMetadata.queuedTimestamp.seconds * 1000
        ms += this.result.executionMetadata.queuedTimestamp.nanos * 0.000001
      }
      return new Date(ms)
    },
    executionStartedTimestamp () {
      let ms = 0
      if (this.result && this.result.executionMetadata) {
        ms = this.result.executionMetadata.executionStartTimestamp.seconds * 1000
        ms += this.result.executionMetadata.executionStartTimestamp.nanos * 0.000001
      }
      return new Date(ms)
    },
    executionCompletedTimestamp () {
      let ms = 0
      if (this.result && this.result.executionMetadata) {
        ms = this.result.executionMetadata.executionCompletedTimestamp.seconds * 1000
        ms += this.result.executionMetadata.executionCompletedTimestamp.nanos * 0.000001
      }
      return new Date(ms)
    },
    inputFetchStartedTimestamp () {
      let ms = 0
      if (this.result && this.result.executionMetadata) {
        ms = this.result.executionMetadata.inputFetchStartTimestamp.seconds * 1000
        ms += this.result.executionMetadata.inputFetchStartTimestamp.nanos * 0.000001
      }
      return new Date(ms)
    },
    inputFetchCompletedTimestamp () {
      let ms = 0
      if (this.result && this.result.executionMetadata) {
        ms = this.result.executionMetadata.inputFetchCompletedTimestamp.seconds * 1000
        ms += this.result.executionMetadata.inputFetchCompletedTimestamp.nanos * 0.000001
      }
      return new Date(ms)
    },
    workerStartedTimestamp () {
      let ms = 0
      if (this.result && this.result.executionMetadata) {
        ms = this.result.executionMetadata.workerStartTimestamp.seconds * 1000
        ms += this.result.executionMetadata.workerStartTimestamp.nanos * 0.000001
      }
      return new Date(ms)
    },
    workerCompletedTimestamp () {
      let ms = 0
      if (this.result && this.result.executionMetadata) {
        ms = this.result.executionMetadata.workerCompletedTimestamp.seconds * 1000
        ms += this.result.executionMetadata.workerCompletedTimestamp.nanos * 0.000001
      }
      return new Date(ms)
    },
    workerName () {
      return this.result.executionMetadata.worker
    },
    workerRoute () {
      return {
        name: 'Worker Invocations',
        params: {
          workerName: this.workerName
        }
      }
    }
  },
  methods: {
    formatTimestamp (datetime) {
      const date = datetime.toDateString()
      const hours = datetime.getUTCHours()
      const minutes = datetime.getUTCMinutes()
      const seconds = datetime.getUTCSeconds()
      const millis = `${datetime.getUTCMilliseconds()}`.padStart(3, '0')
      return `${date} ${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}.${millis} UTC`
    },
    timestampDiff (oldTime, newTime) {
      const MS_IN_HOURS = (1000 * 60 * 60)
      const MS_IN_MINUTES = (1000 * 60)
      const MS_IN_SECONDS = (1000)

      let timeDiff = newTime - oldTime
      const hours = parseInt(timeDiff / MS_IN_HOURS)
      timeDiff -= (hours * MS_IN_HOURS)

      const minutes = parseInt(timeDiff / MS_IN_MINUTES)
      timeDiff -= (minutes * MS_IN_MINUTES)

      const seconds = parseInt(timeDiff / MS_IN_SECONDS)
      timeDiff -= (seconds * MS_IN_SECONDS)

      return `${hours > 0 ? hours + 'h' : ''}
              ${minutes > 0 ? minutes + 'm' : ''}
              ${seconds > 0 ? seconds + 's' : ''}
              ${timeDiff > 0 ? timeDiff + 'ms' : ''}`
    }
  }
}
</script>

<style lang="scss" scoped>

.timeline {
  position: relative;
  padding-left: 80px;

  &::before {
    content: "";
    width: 4px;
    top: 60px;
    bottom: 60px;
    left: 28px;
    position: absolute;
    background: var(--color-timeline-line);
  }

  .timeline-entry {
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
      background: var(--color-timeline-entry);
      border-radius: 20px;
      left: -70px;
      top: calc(50% - 20px);
      position: absolute;
    }

    .details {
      font-size: 1.25rem;
      margin: 0;
    }

    .timestamp {
      margin: 6px 0;
      color: var(--color-text-muted);
    }

    .text-lg {
      font-size: 1.5rem;
    }

    a {
      color: var(--color-text-muted);
      text-decoration: none;

      &:hover {
        color: var(--color-link);
        box-shadow: 0 -2px 0 var(--color-link) inset;
      }
    }
  }
}
</style>
