<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="search-input">
    <div class="filter-container"
         :class="{ focused }"
         @focus.capture="focus"
         @blur.capture="blur"
         tabindex="0">
      <span class="prompt">
        Find Operations where...
      </span>
      <input type="text" :value="modelValue" ref="input" @input="$emit('update:modelValue', $event.target.value)">
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchInput',
  data () {
    return {
      focused: false
    }
  },
  props: ['modelValue'],
  methods: {
    blur () {
      this.focused = false
    },
    focus () {
      this.focused = true
      this.$refs.input.focus()
    }
  }
}
</script>

<style scoped lang="scss">
.filter-container {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-top);
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0px 10px;
  box-shadow: 0 .2rem .4rem rgba(0,0,0,.1);
  transition: 150ms ease-in-out all;
  cursor: text;

  &.focused {
    box-shadow: 0 0 .2rem rgba(0,0,0,.1), 0 .2rem .4rem rgba(0,0,0,.3);
  }

  .prompt {
    color: var(--color-neutral);
  }

  input {
    border: none;
    flex: 1 0 auto;
    font-size: 1.1rem;
    padding: 16px;
    border-radius: 5px;
  }
}
</style>
