<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Options parsed
      </p>
      <a class="display-toggle" @click="showMore = !showMore">
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <p class="muted">Startup Options</p>
        <ul v-if="event.startupOptionsList.length > 0">
          <li v-for="option in event.startupOptionsList" :key="option">
            {{ option }}
          </li>
        </ul>
        <div v-else>No startup options specified</div>
      </div>

      <div class="row">
        <p class="muted">Explicit Startup Options</p>
        <ul v-if="event.explicitStartupOptionsList.length > 0">
          <li v-for="option in event.explicitStartupOptionsList" :key="option">
            {{ option }}
          </li>
        </ul>
        <div v-else>No explicit startup options specified</div>
      </div>

      <div class="row">
        <p class="muted">Command Options</p>
        <ul v-if="event.cmdLineList.length > 0">
          <li v-for="option in event.cmdLineList" :key="option">
            {{ option }}
          </li>
        </ul>
        <div v-else>No command options specified</div>
      </div>

      <div class="row">
        <p class="muted">Explicit Command Options</p>
        <ul v-if="event.explicitCmdLineList.length > 0">
          <li v-for="option in event.explicitCmdLineList" :key="option">
            {{ option }}
          </li>
        </ul>
        <div v-else>No explicit command options specified</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BazelEventOptionsParsed',
  props: {
    event: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      showMore: false
    }
  }
}
</script>
