<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Workspace status
      </p>
      <a class="display-toggle" @click="showMore = !showMore">
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row" v-for="item in event.itemList" :key="item.key">
        <span class="muted">{{ item.key }}</span>
        <div v-if="item.value">{{ item.value }}</div>
        <div v-else class="muted">&lt;empty string&gt;</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BazelEventWorkspaceStatus',
  props: {
    event: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      showMore: false
    }
  },
  computed: {
    options () {
      return this.event.optionsDescription.split(' ')
    }
  }
}
</script>
