<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        <span class="inline-code">bazel {{ event.command }}</span> started
      </p>
      <a class="display-toggle" @click="showMore = !showMore">
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <!-- TODO: render this lot more nicely -->
    <div v-if="showMore">
      <div class="row">
        <span class="muted">CLI options</span>
        <ul>
          <li v-for="option in options" :key="option">
            {{ option }}
          </li>
        </ul>
      </div>
      <div class="row">
        <span class="muted">Working directory</span>
        <div>{{ event.workingDirectory }}</div>
      </div>
      <div class="row">
        <span class="muted">Workspace directory</span>
        <div>{{ event.workspaceDirectory }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BazelEventStarted',
  props: {
    event: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      showMore: false
    }
  },
  computed: {
    options () {
      return this.event.optionsDescription.split(' ')
    }
  }
}
</script>
