<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        Pattern <span class="inline-code"><span v-for="pattern in id.pattern.patternList" :key="pattern">{{ pattern }} </span></span> expanded
      </p>
      <a class="display-toggle" @click="showMore = !showMore">
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <p class="muted">Test suite expansions</p>
        <ul v-if="event.testSuiteExpansionsList.length > 0">
          <li v-for="testSuiteExpansion in event.testSuiteExpansionsList" :key="testSuiteExpansion.suiteLabel">
            {{ testSuiteExpansion.suiteLabel }}
            <ul>
              <li v-for="label in testSuiteExpansion.testLabelsList" :key="label">{{ label }}</li>
            </ul>
          </li>
        </ul>
        <p v-else>No test suite expansions for this pattern.</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'BazelEventExpanded',
  props: {
    event: {
      type: Object,
      default: () => null
    },
    id: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      showMore: false
    }
  }
}
</script>
