<!--
  Copyright 2022 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div class="build-event-details">
    <div class="flex">
      <p class="build-event-title">
        {{ capitalize(event.commandLineLabel ? event.commandLineLabel : 'Unspecified') }}
        command line parsed
      </p>
      <a class="display-toggle" @click="showMore = !showMore" v-if="event.commandLineLabel">
        {{ showMore ? 'Hide' : 'Show' }} details
      </a>
    </div>
    <div v-if="showMore">
      <div class="row">
        <p class="muted">Command</p>
        <span class="code">{{ executable }} {{ command }} {{ residual }}</span>
      </div>
      <div class="row">
        <p class="muted">Startup Options</p>
        <ul v-if="startupOptions.length > 0">
          <li v-for="option in startupOptions" :key="option.combinedForm">
            --{{ option.optionName }}={{ option.optionValue }}
          </li>
        </ul>
        <div v-else>No startup options specified</div>
      </div>
      <div class="row">
        <p class="muted">Command Options</p>
        <ul>
          <li v-for="option in commandOptions" :key="option.combinedForm">
            --{{option.optionName}}={{ option.optionValue }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BazelEventStructuredCommandLine',
  props: {
    event: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      showMore: false
    }
  },
  computed: {
    executable () {
      const executable = this.findElement('executable')
      return executable.chunkList.chunkList[0]
    },
    command () {
      const command = this.findElement('command')
      return command.chunkList.chunkList[0]
    },
    residual () {
      const residual = this.findElement('residual')
      return residual.chunkList.chunkList[0]
    },
    commandOptions () {
      const options = this.findElement('command options')
      return options.optionList.optionList
    },
    startupOptions () {
      const options = this.findElement('startup options')
      return options.optionList.optionList
    }
  },
  methods: {
    capitalize (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
    findElement (name) {
      let el = {}
      this.event.sectionsList.forEach(element => {
        if (element.sectionLabel === name) {
          el = element
        }
      })
      return el
    }
  }
}
</script>
