<!--
  Copyright 2020 Bloomberg LP

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<template>
  <div id="app">
    <div id="page-wrapper">
      <nav id="nav">
        <router-link to="/">
          <img src="/bgd-logo.png" /> bgd-browser
        </router-link>
        <ul class="links">
          <li class="link">
            <router-link to="/browse">Operations</router-link>
          </li>
        </ul>
      </nav>
      <router-view class="page"/>
    </div>
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',
  components: {
    Footer
  }
}
</script>

<style lang="scss">
@use '@/assets/scss/colors.scss';

@mixin roboto-base {
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  @include roboto-base;
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../public/fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  @include roboto-base;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  @include roboto-base;
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  @include roboto-base;
  font-family: 'Roboto Mono';
  src: url('../public/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: var(--color-bg);
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);

  .page {
    margin: 20px 20%;
  }

  position: relative;
  min-height: 99vh;

  footer {
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 10px 30px;
  }

  #page-wrapper {
    padding-bottom: 3em;
  }
}

#nav {
  display: flex;
  padding: 10px 30px;
  background-color: var(--color-header-bg);
  box-shadow: 0 0 .2rem rgba(0,0,0,.1), 0 .2rem .4rem rgba(0,0,0,.2);
  font-size: 1.25em;
  color: #fff;
  align-items: center;
  justify-content: space-between;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.125rem;

    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: var(--color-header-link);
    text-decoration: none;

    &:hover {
      color: var(--color-header-link-hover);
    }

    img {
      max-height: 30px;
      margin-right: 30px;
    }
  }
}

</style>
